body,
.App {
    min-height: 100vh;
}

.auth {
    &__fullHeight {
        min-height: 100vh;
    }
    &__logoContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 15px;
    }
    &__container {
        padding: 50px;
        border-radius: 15px;
    }
    &__submit {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    &__labels {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.navbar {
    font-family: $family-francois;
    padding: 10px 20px;
}

.loader {
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }
}

.menu {
    &__container {
        z-index: 1000;
        padding-top: 120px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        height: 100vh;
        position: fixed;
    }
}

.dashboard {
    padding-top: 120px;
}

.home {
    width: 100%;
    text-align: center;
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 2em;
    }
    &__searchEntry {
        margin: 5px;
        background-color: #fff;
        color: black;
        font-weight: 700;
        border-radius: 3px;
        padding: 10px;
        &:hover {
            background-color: rgba(255,255,255,0.9);
            cursor: not-allowed;
        }
    }
    &__input {
        margin-bottom: 20px;
    }
    &__searchButton {
        margin-left: 20px;
        transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

.search {
    width: 100%;
    text-align: center;
    input {
        max-width: 50%;
    }
}
